html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/*====================================   Navbaar  =============================*/
nav {
  background-color: black;
  color: aliceblue;
  padding: 20px 50px;
  border-bottom: 1px solid gray;
}
.navtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputtext {
  border: none;
  outline: none;
  font-size: 18px;
  background-color: gray;
  color: white;
  cursor: pointer;
}
.inputtext::placeholder {
  color: lightgray;
  font-size: 18px;
}
.searchIcon {
  padding: 10px;
  background-color: gray;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.limitedoffer {
  border-bottom: 2px solid green;
  color: lightgray;
  font-size: larger;
  cursor: pointer;
}
.limitedoffer:hover {
  border-bottom: 2px solid red;
}
.navbottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}
.menuitems {
  margin-right: 50px;
  font-weight: 400px;
  color: red;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}


/*====================================   Slider  =============================*/

.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.slidewraper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}
.sliderImage {
  z-index: 1;
  transform: scale(0.8);
}
.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: white;
  z-index: 1;
  text-shadow: 5px 5px 2px red;
}
.sliderPrice {
  position: absolute;
  top: 10%;
  left: 3%;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px 20px;
  z-index: 1;
}

.buyButton {
  position: absolute;
  top: 60%;
  right: 5%;
  font-size: 25px;
  font-weight: 600;
  color: white;
  border: 1px solid gray;
  background-color: black;
  z-index: 1;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 25px 0px;
}
.buyButton:hover {
  background: white;
  color: black;
  transform: scale(1.08);
  transition: all 0.5s ease-in-out;
  border-radius: 0px 25px;
}

.sliderItem:nth-child(1) .sliderBg {
  background-image: linear-gradient(to bottom right, red, #369e62, yellow);
}
.sliderItem:nth-child(2) .sliderBg {
  background-image: linear-gradient(to bottom right, red, rebeccapurple, yellow);

}
.sliderItem:nth-child(3) .sliderBg {
  background-image: linear-gradient(to bottom right, red, teal, yellow);

}
.sliderItem:nth-child(4) .sliderBg {
  background-image: linear-gradient(to bottom right, red, cornflowerblue, yellow);

}
.sliderItem:nth-child(5) .sliderBg {
  background-image: linear-gradient(to bottom right, red,rgb(124, 115, 80), yellow);

}

.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: white;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: cornsilk;
}



/* ====================================   Features  ============================= */

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  text-align: center;
  border: 2px solid gray;
  border-style: outset;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px gray;
}
.feature:hover {
  cursor: pointer;
}
.featureIcon {
  width: 50px;
  height: 50px;
}
.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}
.featureDesc {
  color: gray;
  width: 60%;
  height: 100px;
  margin-top: 5px;
}
.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}


/*====================================   Payment  =============================*/

.payment {
  width: 500px;
  height: 500px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payTitle {
  font-size: 20px;
  color: lightgray;
}
label {
  font-size: 14px;
  font-weight: 300;
}
.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: rgb(163, 163, 163);
}
.cardIcons {
  display: flex;
}
.cardIcon {
  margin-right: 10px;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
}
.sm {
  width: 30%;
}
.payButton {
  position: absolute;
  height: 40px;
  bottom: -40px;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}


/*====================================  Product  =============================*/

.productImg {
  width: 50%;
}
.productPrice{
  font-size: 25px;
  font-weight: bold;
}
.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}
.productTitle {
  font-size: 75px;
  font-weight: 700;
  text-shadow: 4px 4px 4px rgb(24, 180, 208);
}
.productDesc {
  font-style: 24px;
  color: gray;
}
.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}
.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}
.color:last-child {
  background-color: darkblue;
}
.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}
.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 0px 20px;
  font-weight: 700;
  cursor: pointer;
}
.productButton:hover {
  transform: scale(1.08);
  transition: all 0.5s ease-in-out;
  background-color: #fff;
  color: black;
  border-radius: 20px 0px;
}


/*====================================  Gallery  =============================*/

.gallery {
  display: flex;
  padding: 50px;
}
.galleryItem {
  flex: 1;
  padding: 50px;
}
.galleryImg {
  width: 100%;
  border-radius: 10px;
  border: 1px solid gray;
}


/*====================================  New Season  =============================*/

.newSeason {
  display: flex;
}
.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nsImg {
  width: 100%;
  height: 500px;
}
.nsTitle {
  font-size: 40px;
}
.nsButton {
  padding: 15px;
  font-weight: 800;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  color: rgb(227, 15, 15);
}


/*====================================  Footer  =============================*/

footer {
  display: flex;
}
.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.fMenuTitle {
  font-size: 16px;
}
.fList {
  padding: 0;
  list-style: none;
}
.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fInput {
  padding: 5px;
}
.fButton {
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.fIcons {
  display: flex;
}
.fIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.fIcon:hover{
  cursor: pointer;
}
.copyright {
  font-weight: 300;
  font-size: 14px;
}


/*====================================  Media Query  =============================*/

@media screen and (max-width: 768px) {
  nav{
    padding: 20px;
  }
  .searchIcon{
    display: none;
  }
  .navbottom{
    flex-wrap: wrap;
  }
  .menuitems{
    margin: 15px;
  }
  .slider{
    clip-path: none;
  }
  .sliderImage{
    width: 90%;
  }
  .sliderBg{
    width: 100%;
    height: 100%;
  }
  .sliderTitle{
    font-size: 40px;
  }
  .sliderPrice{
    top: unset;
    bottom: 5%;
    left: 2%;
    font-size: 20px;
    color: red;
    border: 1px solid red;
  }
  .buyButton{
    top: unset;
    right: 2%;
    bottom: 2%;
  }
  .features{
    flex-direction: column;
  }
  .feature{
    margin: 20px; 
  }
  .product{
    clip-path: none;
    height: 65vh;
  }
  .gallery{
    flex-direction: column;
  }
  .newSeason{
    flex-direction: column;
  }
  .nsItem{
    width: 100%;
    align-items: center;
    margin: auto;
  }
  footer{
    flex-direction: column;
    align-items: center;
  }
  .footerLeft{
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding: 10px;
  }
  .footerRight{
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }
  .payment{
    width: 90%;
    padding: 20px;
  }
}
@media screen and (max-width: 480px){
  .sliderTitle{
    font-size: 20px;
  }
  .gallery{
   display: none;
  }
  .product{
    padding-bottom: 175px;
  }
 .size{
  padding: 3px, 3px;
  margin-right: 5px;
  font-size: 14px;
 }
 .payment{
  width: 90%;
  padding: 10px;
} 

}